<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <style>
      .idea-form {
        width: 80%;
        max-width: 90%;
        margin: auto;
        display: block;
      }

      .form-control {
        margin: 1rem 0;
      }

      .form-control label,
      .form-control input {
        display: block;
        width: 40%;
        margin-bottom: 0.25rem;
      }
      .form-control textarea {
        display: block;
        width: 100%;
        margin-bottom: 0.25rem;
      }
      .form-control input,
      .form-control textarea {
        border: 1px solid #a1a1a1;
        font: inherit;
        border-radius: 2px;
      }

      .form-control input:focus,
      .form-control textarea:focus {
        outline-color: #00695c;
      }

      .btn {
        display: inline-block;
        padding: 0.25rem 1rem;
        text-decoration: none;
        font: inherit;
        border: 1px solid #00695c;
        color: #00695c;
        background: white;
        border-radius: 3px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <header class="main-header">
      <%- include('includes/navigation.ejs') %>
    </header>

    <div class="main-content">
      <form class="idea-form" action="/idea/edited-save" method="post">
        <input type="hidden" name="id" value="<%=idea.id%>" />
        <div class="form-control">
          <label for="tit">Title</label>
          <input type="text" name="title" id="tit" value="<%=idea.title%>" />
        </div>
        <div class="form-control">
          <label for="des">Description</label>
          <textarea rows="5" name="description" id="des">
<%=idea.description%>
        </textarea
          >
        </div>
        <button class="btn" type="submit">Save</button>
        <a class="btn" href="/idea/details/<%=idea.id%>">Cancel</a>
      </form>
    </div>
    <%- include('includes/footer.ejs') %>
  </body>
</html>
